//ТЕКСТ
$textWhite: #ffff;
$textBlue: #4369e7;
$textGray: #d4d0d0;
$textBlack: black;

//ФОН
$bgBlue: #4369e7;
$bgGray: #a4afd3;
$bgItem: rgba(0, 0, 0, 0.2);
$bgItemHover: rgba(59, 94, 209, 0.2);

$itemShadow: 0 10px 30px rgba(0, 0, 0, 0.1);

//БОРДЕР
$borderItem: 1px solid rgba(255, 255, 255, 0.3);

//РАЗМЕРЫ
$marginSection: 40px;
$marginHeading: 30px;
$marginBlock: 30px;
$marginTitle: 10px;